<!--

---------------- Assessment Part 2

-->
<div class="logo">
  <h1>DigiFit</h1>
</div>

<nav>
  <a routerLink="/home">
    <span class="material-symbols-outlined">
      home
    </span>
    <p>Home</p>
  </a>

  <a routerLink="/search">
    <span class="material-symbols-outlined">
      search
    </span>
    <p>Search</p>
  </a>

  <a routerLink="/addClient">
    <span class="material-symbols-outlined">
      person_add
    </span>
    <p>Add Client</p>
  </a>

  <a routerLink="/help">
    <span class="material-symbols-outlined">
      help
    </span>
    <p>Help</p>
  </a>
</nav>

<router-outlet></router-outlet>